body{
	font-family:Arial;
	background-color: lavender;
}

a, a:hover, a:visited, a:focus{
	color: skyblue;
	text-decoration: none;
}

ul.menu li{
	display: none;
	padding:10px 10px 10px 20px;
	border-top:1px solid grey;
}

ul.menu li:first-child{
	display: block;
	border-top:0px;
	padding-left:10px;
}

ul.menu:hover li{
	display:block;
}

ul.menu:hover li:first-child{
	background-color: lightblue;
}

ul.menu{
	background-color: aliceblue;
	width:250px;
	padding:0px;
	float:left;
}

p{
	color:red;
}
